@model PropertyListDto
@{
    ViewData["Title"] = $"{Model.Title} Güncelle";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<form class="col-lg-12" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header"><strong>Mülk Güncelleme</strong><small> </small></div>
        <div class="card-body card-block">
            <input type="hidden" name="Id" value="@Model.Id"/>
            <div class="form-group"><label for="Title" class=" form-control-label">Başlık</label><input required type="text" value="@Model.Title" id="Title" name="Title" placeholder="Başlık Giriniz" class="form-control"></div>
            <div class="form-group"><label for="Price" class=" form-control-label">Fiyat</label><input required type="number" value="@Convert.ToInt32(Model.Price)" id="Price" name="Price" placeholder="Fiyat giriniz" class="form-control"></div>
            <div class="form-group"><label for="Address" class=" form-control-label">Adres</label><input required type="text" value="@Model.Address" id="Address" name="Address" placeholder="Yaş Giriniz" class="form-control"></div>
            <div class="form-group"><label for="Details" class=" form-control-label">Detaylar</label><textarea required type="text" id="Details" name="Details" placeholder="Detayları giriniz" class="form-control">@Model.Details</textarea></div>

            <div class="form-group"><label for="BedRoomCount" class=" form-control-label">Yatak Odası Sayısı</label><input required value="@Model.BedRoomCount" type="number" id="BedRoomCount" name="BedRoomCount" placeholder="Yatak odası sayısı giriniz" class="form-control"></div>
            <div class="form-group"><label for="LivingRoomCount" class=" form-control-label">Oturma Odası Sayısı</label><input required type="number" value="@Model.LivingRoomCount" id="LivingRoomCount" name="LivingRoomCount" placeholder="Oturma odası sayısı giriniz" class="form-control"></div>
            <div class="form-group"><label for="ParkingCount" class=" form-control-label">Park Sayısı</label><input required type="number" value="@Model.ParkingCount" id="ParkingCount" name="ParkingCount" placeholder="Park sayısı giriniz" class="form-control"></div>
            <div class="form-group"><label for="KitchenCount" class=" form-control-label">Mutfak Sayısı</label><input required type="number" value="@Model.KitchenCount" id="KitchenCount" name="KitchenCount" placeholder="Mutfak sayısı giriniz" class="form-control"></div>

            <div class="form-group"><label for="LocationLatitude" class=" form-control-label">Enlem</label><input required type="text" value="@Model.LocationLatitude" id="LocationLatitude" name="LocationLatitude" placeholder="Konuma ait enlem giriniz" class="form-control"></div>
            <div class="form-group"><label for="LocationLongitude" class=" form-control-label">Boylam</label><input required type="text" value="@Model.LocationLongitude" id="LocationLongitude" name="LocationLongitude" placeholder="Konuma ait boylam giriniz" class="form-control"></div>



            <div class="form-group">
                <label for="select" required class=" form-control-label">Satış Durumu Seçiniz</label>

                <select name="PropertySaleStatus" id="status-select" class="form-control">
                    <option value="0">Lütfen Seçiniz</option>
                    @foreach (var item in ViewBag?.StatusOptionList)
                    {
                           <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="select" required class=" form-control-label">Çalişanlar</label>

                <select name="AgentId" id="agent-select" class="form-control">
                    <option value="0">Lütfen Seçiniz</option>
                    @foreach (var item in ViewBag.AgentOptionList)
                    {
                            <option value="@item.Value">@item.Text</option>
                             
                    }


                </select>
            </div>


            <button type="submit" class="btn btn-outline-success ">Gönder</button>

        </div>
    </div>
</form>

<script>

    document.getElementById("status-select").value = "@Convert.ToInt32(Model.PropertySaleStatus)";
    document.getElementById("agent-select").value = "@Convert.ToInt32(Model.AgentId)";


</script>


